$img-path: "/../assets/images";

// Primary Colors
$red: #CF271E !default;
$red_hover: #D13931 !default;
$red_dark: #BE1E2D !default;

// Greyscale
$white: #fff !default;
$grey_0: #000 !default;
$grey_1: #ACAEB5 !default;
$grey_2: #7B8191 !default;
$grey_3: #212532 !default;
$grey_4: #CECFD6 !default;
$grey_5: #8A94A2 !default;
$grey_6: #707070 !default;
$grey_7: #DCDDE3 !default;
$grey_8: #C8C8C8 !default;
$grey_9: #BBC3D0 !default;
$grey_10: #6F788D !default;
$grey_11: #EFEFEF !default;
